{% extends 'basic.html' %} 
{% block title %} Skills{% endblock title %}

{% block body %} 
{% load static %}
<section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h1 class="text-center mt-3"><span><span>Technologies Expert</span><span class="typed-cursor typed-cursor--blink"></span></span>
          </h1>
         
        </div>

        <div class="row">



<div class="row">



  <div>
    <div class="row"><div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
      <div class="my-3 p-3 rounded card border-warning"><a href="#/technology/3"><img class="card-img-top" src="{% static 'assets/img/Python.png' %}" style="width: 100px;"></a>
        
        <div class="card-body"><a href="https://www.python.org/"><div class="card-title"><h4>Python</h4></div></a>
        
        <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
          <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
          <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
          <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
          <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
          <span></span></div><h6 class="card-text">Skill rating : Advanced </h6></div></div><div class="card-text"><div class="my-3"><h5>Backend Programming</h5></div></div>
          <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 4 Years</span></div><p></p>
          <a class="text-success text-center" href="https://www.python.org/">Know More...</a>
        </div></div></div>
        
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="my-3 p-3 rounded card border-warning"><a href="https://www.djangoproject.com/"><img class="card-img-top" src="{% static 'assets/img/Django.png' %}" style="width: 100px;"></a>
            
            <div class="card-body"><a href="https://www.djangoproject.com/"><div class="card-title"><h4>Django</h4></div></a>
            
            <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
              <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
              <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
              <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
              <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
              <span></span></div><h6 class="card-text">Skill rating : Advanced </h6></div></div><div class="card-text"><div class="my-3"><h5>Python Framework</h5></div></div>
              <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 3 Years</span></div><p></p>
              <a class="text-success text-center" href="https://www.djangoproject.com/">Know More...</a>
            </div></div></div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
              <div class="my-3 p-3 rounded card border-warning"><a href="https://fastapi.tiangolo.com/"><img class="card-img-top" src="{% static 'assets/img/FastAPI.png' %}" style="width: 100px;"></a>
                
                <div class="card-body"><a href="https://fastapi.tiangolo.com/"><div class="card-title"><h4>FastAPI</h4></div></a>
                
                <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                  <span></span></div><h6 class="card-text">Skill rating : Advanced </h6></div></div><div class="card-text"><div class="my-3"><h5>Python Framework</h5></div></div>
                  <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 3 Years</span></div><p></p>
                  <a class="text-success text-center" href="https://fastapi.tiangolo.com/">Know More...</a>
                </div></div></div>


                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                  <div class="my-3 p-3 rounded card border-warning"><a href="https://en.wikipedia.org/wiki/SQL"><img class="card-img-top" src="{% static 'assets/img/Sql.png' %}" style="width: 100px;"></a>
                    
                    <div class="card-body"><a href="https://en.wikipedia.org/wiki/SQL"><div class="card-title"><h4>SQL</h4></div></a>
                    
                    <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span></span></div><h6 class="card-text">Skill rating : Advanced </h6></div></div><div class="card-text"><div class="my-3"><h5>Database</h5></div></div>
                      <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 3 Years</span></div><p></p>
                      <a class="text-success text-center" href="https://en.wikipedia.org/wiki/SQL">Know More...</a>
                    </div></div></div>


            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                  <div class="my-3 p-3 rounded card border-warning"><a href="https://en.wikipedia.org/wiki/Cloud_computing"><img class="card-img-top" src="{% static 'assets/img/cloud.png' %}" style="width: 100px;"></a>
                    
                    <div class="card-body"><a href="https://en.wikipedia.org/wiki/Cloud_computing"><div class="card-title"><h4>Cloud Computing</h4></div></a>
                    
                    <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span></span></div><h6 class="card-text">Skill rating : Intermediate </h6></div></div><div class="card-text"><div class="my-3"><h5>Cloud</h5></div></div>
                      <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 1 Years</span></div><p></p>
                      <a class="text-success text-center" href="https://en.wikipedia.org/wiki/Cloud_computing">Know More...</a>
                    </div></div></div>

              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                  <div class="my-3 p-3 rounded card border-warning"><a href="https://www.mongodb.com/"><img class="card-img-top" src="{% static 'assets/img/MongoDB.png' %}" style="width: 100px;"></a>
                    
                    <div class="card-body"><a href="https://www.mongodb.com/"><div class="card-title"><h4>MongoDB</h4></div></a>
                    
                    <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span></span></div><h6 class="card-text">Skill rating : Intermediate </h6></div></div><div class="card-text"><div class="my-3"><h5>Database</h5></div></div>
                      <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 2 Years</span></div><p></p>
                      <a class="text-success text-center" href="https://www.mongodb.com/">Know More...</a>
                    </div></div></div>


                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                  <div class="my-3 p-3 rounded card border-warning"><a href="https://spark.apache.org/docs/latest/api/python/#"><img class="card-img-top" src="{% static 'assets/img/PySpark.jpg' %}" style="width: 100px;"></a>
                    
                    <div class="card-body"><a href="https://spark.apache.org/docs/latest/api/python/#"><div class="card-title"><h4>PySpark</h4></div></a>
                    
                    <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                      <span></span></div><h6 class="card-text">Skill rating : Intermediate </h6></div></div><div class="card-text"><div class="my-3"><h5>ML library</h5></div></div>
                      <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 2 Years</span></div><p></p>
                      <a class="text-success text-center" href="https://spark.apache.org/docs/latest/api/python/#">Know More...</a>
                    </div></div></div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                      <div class="my-3 p-3 rounded card border-warning"><a href="https://about.gitlab.com/topics/ci-cd/"><img class="card-img-top" src="{% static 'assets/img/Cicd.png' %}" style="width: 100px;"></a>
                        
                        <div class="card-body"><a href="https://about.gitlab.com/topics/ci-cd/"><div class="card-title"><h4>CI/CD</h4></div></a>
                        
                        <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                          <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                          <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                          <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                          <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                          <span></span></div><h6 class="card-text">Skill rating : Intermediate </h6></div></div><div class="card-text"><div class="my-3"><h5>Deployment</h5></div></div>
                          <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 2 Years</span></div><p></p>
                          <a class="text-success text-center" href="https://about.gitlab.com/topics/ci-cd/">Know More...</a>
                        </div></div></div>

                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                          <div class="my-3 p-3 rounded card border-warning"><a href="https://en.wikipedia.org/wiki/Linux"><img class="card-img-top" src="{% static 'assets/img/Linux.png' %}" style="width: 100px;"></a>
                            
                            <div class="card-body"><a href="https://en.wikipedia.org/wiki/Linux"><div class="card-title"><h4>Linux</h4></div></a>
                            
                            <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                              <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                              <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                              <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                              <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                              <span></span></div><h6 class="card-text">Skill rating : Intermediate </h6></div></div><div class="card-text"><div class="my-3"><h5>Deployment</h5></div></div>
                              <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 2 Years</span></div><p></p>
                              <a class="text-success text-center" href="https://en.wikipedia.org/wiki/Linux">Know More...</a>
                            </div></div></div>

                        
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                              <div class="my-3 p-3 rounded card border-warning"><a href="https://git-scm.com/"><img class="card-img-top" src="{% static 'assets/img/git.png' %}" style="width: 100px;"></a>
                                
                                <div class="card-body"><a href="https://git-scm.com/"><div class="card-title"><h4>Git</h4></div></a>
                                
                                <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span></span></div><h6 class="card-text">Skill rating : Advanced </h6></div></div><div class="card-text"><div class="my-3"><h5>version Controller</h5></div></div>
                                  <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 3 Years</span></div><p></p>
                                  <a class="text-success text-center" href="https://git-scm.com/">Know More...</a>
                                </div></div></div>


                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                              <div class="my-3 p-3 rounded card border-warning"><a href="https://www.splunk.com/"><img class="card-img-top" src="{% static 'assets/img/Splunk.png' %}" style="width: 100px;"></a>
                                
                                <div class="card-body"><a href="https://www.splunk.com/"><div class="card-title"><h4>Splunk</h4></div></a>
                                
                                <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span></span></div><h6 class="card-text">Skill rating : Advanced </h6></div></div><div class="card-text"><div class="my-3"><h5>Data Process</h5></div></div>
                                  <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 2 Years</span></div><p></p>
                                  <a class="text-success text-center" href="https://www.splunk.com/">Know More...</a>
                                </div></div></div>


                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                              <div class="my-3 p-3 rounded card border-warning"><a href="https://docs.python.org/3/library/unittest.html"><img class="card-img-top" src="{% static 'assets/img/Unit.png' %}" style="width: 100px;"></a>
                                
                                <div class="card-body"><a href="https://docs.python.org/3/library/unittest.html"><div class="card-title"><h4>Unit testing</h4></div></a>
                                
                                <div class="card-text"><div class="my-3"><div class="rating"><span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span><i class="fas fa-star" style="color: rgb(248, 232, 37);"></i></span>
                                  <span></span></div><h6 class="card-text">Skill rating : Advanced </h6></div></div><div class="card-text"><div class="my-3"><h5>Logic test cases</h5></div></div>
                                  <p class="card-text"></p><div class="my-3">Experience : <span class="badge rounded-pill bg-dark"> 3 Years</span></div><p></p>
                                  <a class="text-success text-center" href="https://docs.python.org/3/library/unittest.html">Know More...</a>
                                </div></div></div>



            </span></h1></div>
          </div>



         
         
        </div>

      </div>
    </section><!-- End Services Section -->
{% endblock body %}

